<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UpComics - First Run</title>
    <style type="text/css">
    	@import url(http://fonts.googleapis.com/css?family=Courgette);
    	body {
    		background: url('/bg.png');
    		font-family: Helvetica;
    	}
    	.container {
    		margin:200px auto;
    		width:400px;
    		text-align: center;
    		background: #eee;
    		padding:5px;
    		border-radius: 5px;
    	}

    	.container label { 
    		display: block;
    	}

    	.container h1, .container h2 {
    		font-family: 'Courgette';
    		margin:0;
    	}
    </style>
</head>
<body>
	<div class="container">
		<h1>UpComics</h1>
		<h2>First Run</h2>
		<form action="/FirstRun" method="POST">
			<label>Name: <input type="text" name="name" id="name" /></label>
			<label>Email: <input type="email" name="email" id="email" /></label>
			<input type="submit" value="Set Up" />
		</form>
	</div>
</body>
</html>